@import url('https://fonts.bunny.net/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.login-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;
}
#username-login, #password-login {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}
.login-button {
    width: 100%;
    padding: 15px;
    background-color: #F4B183;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#login-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#content {
    margin: 16px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea {
    border: 1px solid #ccc;
    padding: 14px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
    width: 60%;
}

textarea {
    height: 50px;
    resize: none; /* disable resize in textarea */
}

input[type="submit"] { /* submit buttons */
    background-color: #F4B183;
    border: none;
    color: white;
    padding: 14px 24px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.auction-close {
    background-color: #F4B183;
    border: none;
    color: white;
    padding: 14px 24px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}


input[type="submit"]:disabled { /* disabled submit buttons */
    background-color: gray;
    cursor: default;
}

input[type="file"] {
    background-color: snow;
    border: 1px solid #ccc;
    padding: 14px;
}

.center {
    text-align: center;
}

form.center { /* all the forms with center class */
    margin: 0 auto; /* center */
}
@media (min-width: 600px) { /* if screen width is 600px or more */
    form.center {
        width: 50%;
    }
}

fieldset {
    border: 1px solid #ccc;
    padding: 14px;
    width: 90%;
}

p.error-message {
    color: red;
    font-weight: bold;
}

table {
    width: 100%;
    border: #ccc 2px solid;
    text-align: center;
}

th, td {
    padding: 10px;
    border: #ccc 2px solid;
}

tr {
    transition: background-color 0.2s ease-in-out;
}

tbody tr:nth-child(odd),
tbody tr.grey {
    background-color: #f5f5f5;
}

tbody td[rowspan] {
    background-color: white !important;
}

tbody tr:hover {
    background-color: #e5e5e5 !important;
}

td img {
    max-width: 100px;
    max-height: 100px;
}

a:visited {
    color: #DFA67B;
}


.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: normal;
    color: black;
    right: 8px;
    padding: 16px 16px 16px 22px;
}

#user-data {
    list-style-type: disc;
    font-size: 15px;
}


#auction-details {
    border: 1px solid #ccc;
    padding: 24px;
}

#offers-auctions {
    border: 1px solid #ccc;
    padding: 24px;
}

.auction-top {
    display: flex;
}

.auction-top > h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.flex {
    display: flex;
    gap: 16px;
}

.flex > .half-width {
    width: 50%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0 8px 0 8px;
    overflow: hidden;
    background-color: #FFD966;
    display: flex;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: normal;
    color: black;
    right: 8px;
    padding: 16px 16px 16px 22px;
    border-radius: 10px;
}

#user-data {
    list-style-type: disc;
    font-size: 15px;
}

.navbar > li > a {
    transition: background-color 0.2s ease-in-out;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 8px;
    border-radius: 10px;
}

.navbar > li > a:hover {
    background-color: #FFF2CC !important;
}

.navbar > li > a.selected {
    background-color: #DFA67B;
}

.spacer {
    flex-grow: 1;
}

.form-style {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.form-style h3 {
    margin-top: 0;
}

.form-style label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-style input[type="text"],
.form-style textarea,
.form-style input[type="number"],
.form-style input[type="datetime-local"],
.form-style input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-style input[type="submit"] {
    background-color: #DFA67B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.form-style input[type="submit"]:hover {
    background-color: #DFA67B;
}

.form-style fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.form-style fieldset legend {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

